Package             Version
------------------- -----------
altgraph            0.17.2
annotated-types     0.7.0
anyio               4.9.0
appnope             0.1.4
asttokens           2.4.1
certifi             2025.1.31
charset-normalizer  3.4.1
click               8.1.8
comm                0.2.2
contourpy           1.2.1
cycler              0.12.1
debugpy             1.8.1
decorator           5.1.1
exceptiongroup      1.2.1
executing           2.0.1
fastapi             0.115.12
filelock            3.13.4
fonttools           4.51.0
fsspec              2024.3.1
future              0.18.2
h11                 0.14.0
idna                3.10
importlib_metadata  7.1.0
importlib_resources 6.4.0
ipykernel           6.29.4
ipython             8.18.1
jedi                0.19.1
Jinja2              3.1.3
joblib              1.4.2
jupyter_client      8.6.1
jupyter_core        5.7.2
kiwisolver          1.4.5
macholib            1.15.2
MarkupSafe          2.1.5
matplotlib          3.8.4
matplotlib-inline   0.1.7
mpmath              1.3.0
nest-asyncio        1.6.0
networkx            3.2.1
numpy               1.26.4
packaging           24.0
parso               0.8.4
pexpect             4.9.0
pillow              10.3.0
pip                 21.2.4
platformdirs        4.2.1
prompt-toolkit      3.0.43
psutil              5.9.8
ptyprocess          0.7.0
pure-eval           0.2.2
pydantic            2.11.3
pydantic_core       2.33.1
Pygments            2.18.0
pyparsing           3.1.2
python-dateutil     2.9.0.post0
pyzmq               26.0.3
requests            2.32.3
scikit-learn        1.4.2
scipy               1.13.0
setuptools          58.0.4
six                 1.15.0
sklearn             0.0
sniffio             1.3.1
stack-data          0.6.3
starlette           0.46.2
sympy               1.12
threadpoolctl       3.5.0
torch               2.3.0
torchsummary        1.5.1
torchvision         0.18.0
tornado             6.4
tqdm                4.66.4
traitlets           5.14.3
typing_extensions   4.13.2
typing-inspection   0.4.0
urllib3             2.3.0
uvicorn             0.34.1
wcwidth             0.2.13
wheel               0.37.0
zipp                3.18.1
